<div id="content-top-row" class="row">
    {#<div class="col-sm-1"></div>#}
    <div id="sidenav-col" class="col-md-2 col-xs-12 mb-3">
        <div class="list-group" id="list-tab" role="tablist">
            {% for key, data in datas %}
                <a class="list-group-item list-group-item-action {% if data == datas[0]%}active{% endif %}" id="list-{{ loop.index }}-list" data-toggle="list" href="#list-{{ loop.index }}" role="tab" aria-controls="{{ loop.index }}">{{ data.title }}</a>
            {% endfor %}
        </div>
    </div>
    {#<div class="col-sm-1"></div>#}

    <div id="content-col" class="col-md-8 col-xs-12">
        <div class="tab-content" id="nav-tabContent">
            {% for data in datas %}
                <div class="tab-pane fade {% if data == datas[0]%}show active{% endif %}" id="list-{{ loop.index }}" role="tabpanel" aria-labelledby="list-{{ loop.index }}-list">
                    {% for  content in data.contents %}
                        <h5>{{ content.subtitle }}</h5>
                        <div class="mx-2 mt-2 mb-4">{{ content.subcontent }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>